---
http_interactions:
- request:
    method: get
    uri: https://connect.mailerlite.com/api/groups
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Locale:
      - en
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '119'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"75138557045376452","name":"A test Group","active_count":0,"sent_count":0,"opens_count":0,"open_rate":{"float":0,"string":"0%"},"clicks_count":0,"click_rate":{"float":0,"string":"0%"},"unsubscribed_count":0,"unconfirmed_count":0,"bounced_count":0,"junk_count":0,"created_at":"2022-12-21
        21:21:52"},{"id":"75011449370445335","name":"My Group","active_count":1,"sent_count":0,"opens_count":0,"open_rate":{"float":0,"string":"0%"},"clicks_count":0,"click_rate":{"float":0,"string":"0%"},"unsubscribed_count":0,"unconfirmed_count":3,"bounced_count":0,"junk_count":0,"created_at":"2022-12-20
        11:41:32"},{"id":"75138838590129612","name":"SMmwGofyQP","active_count":0,"sent_count":0,"opens_count":0,"open_rate":{"float":0,"string":"0%"},"clicks_count":0,"click_rate":{"float":0,"string":"0%"},"unsubscribed_count":0,"unconfirmed_count":0,"bounced_count":0,"junk_count":0,"created_at":"2022-12-21
        21:26:20"},{"id":"75138532090315810","name":"test_group","active_count":0,"sent_count":0,"opens_count":0,"open_rate":{"float":0,"string":"0%"},"clicks_count":0,"click_rate":{"float":0,"string":"0%"},"unsubscribed_count":0,"unconfirmed_count":0,"bounced_count":0,"junk_count":0,"created_at":"2022-12-21
        21:21:28"}],"links":{"first":"https:\/\/connect.mailerlite.com\/api\/groups?page=1","last":"https:\/\/connect.mailerlite.com\/api\/groups?page=1","prev":null,"next":null},"meta":{"current_page":1,"from":1,"last_page":1,"links":[{"url":null,"label":"&laquo;
        Previous","active":false},{"url":"https:\/\/connect.mailerlite.com\/api\/groups?page=1","label":"1","active":true},{"url":null,"label":"Next
        &raquo;","active":false}],"path":"https:\/\/connect.mailerlite.com\/api\/groups","per_page":250,"to":4,"total":4}}'
  recorded_at: Wed, 21 Dec 2022 21:38:54 GMT
recorded_with: VCR 6.1.0
