---
http_interactions:
- request:
    method: get
    uri: https://connect.mailerlite.com/api/groups/75011449370445335/subscribers
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Locale:
      - en
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '119'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"75030636641911843","email":"igor@hrcek.rs","status":"active","source":"webform","sent":1,"opens_count":1,"clicks_count":0,"open_rate":100,"click_rate":0,"ip_address":"89.216.27.147","subscribed_at":"2022-12-20
        16:46:31","unsubscribed_at":null,"created_at":"2022-12-20 16:46:31","updated_at":"2022-12-21
        07:45:50","fields":{"name":null,"last_name":null,"company":null,"country":null,"city":null,"phone":null,"state":null,"z_i_p":null},"opted_in_at":"2022-12-20
        16:46:42","optin_ip":"89.216.27.147"}],"links":{"first":"https:\/\/connect.mailerlite.com\/api\/groups\/75011449370445335\/subscribers?page=1","last":"https:\/\/connect.mailerlite.com\/api\/groups\/75011449370445335\/subscribers?page=1","prev":null,"next":null},"meta":{"current_page":1,"from":1,"last_page":1,"links":[{"url":null,"label":"&laquo;
        Previous","active":false},{"url":"https:\/\/connect.mailerlite.com\/api\/groups\/75011449370445335\/subscribers?page=1","label":"1","active":true},{"url":null,"label":"Next
        &raquo;","active":false}],"path":"https:\/\/connect.mailerlite.com\/api\/groups\/75011449370445335\/subscribers","per_page":50,"to":1,"total":1}}'
  recorded_at: Wed, 21 Dec 2022 21:31:57 GMT
recorded_with: VCR 6.1.0
