---
http_interactions:
- request:
    method: put
    uri: https://connect.mailerlite.com/api/groups/75138589423306653
    body:
      encoding: UTF-8
      string: '{"name":"test_group3"}'
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Locale:
      - en
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '118'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"75138589423306653","name":"test_group3","active_count":0,"sent_count":0,"opens_count":0,"open_rate":{"float":0,"string":"0%"},"clicks_count":0,"click_rate":{"float":0,"string":"0%"},"unsubscribed_count":0,"unconfirmed_count":0,"bounced_count":0,"junk_count":0,"created_at":"2022-12-21
        21:22:22"}}'
  recorded_at: Wed, 21 Dec 2022 21:23:49 GMT
recorded_with: VCR 6.1.0
