---
http_interactions:
- request:
    method: get
    uri: https://connect.mailerlite.com/api/forms/75231510415803781/subscribers
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Locale:
      - en
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '119'
    body:
      encoding: UTF-8
      string: '{"data":[],"links":{"first":"https:\/\/connect.mailerlite.com\/api\/forms\/75231510415803781\/subscribers?page=1","last":"https:\/\/connect.mailerlite.com\/api\/forms\/75231510415803781\/subscribers?page=1","prev":null,"next":null},"meta":{"current_page":1,"from":null,"last_page":1,"links":[{"url":null,"label":"&laquo;
        Previous","active":false},{"url":"https:\/\/connect.mailerlite.com\/api\/forms\/75231510415803781\/subscribers?page=1","label":"1","active":true},{"url":null,"label":"Next
        &raquo;","active":false}],"path":"https:\/\/connect.mailerlite.com\/api\/forms\/75231510415803781\/subscribers","per_page":25,"to":null,"total":0}}'
  recorded_at: Thu, 22 Dec 2022 21:59:56 GMT
recorded_with: VCR 6.1.0
