---
http_interactions:
- request:
    method: put
    uri: https://connect.mailerlite.com/api/forms/75017795259074408
    body:
      encoding: UTF-8
      string: '{"name":"test_form2"}'
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Locale:
      - en
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '119'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"75017795259074408","type":"popup","slug":"RxLjh1","name":"test_form2","created_at":"2022-12-20
        13:22:24","conversions_count":0,"opens_count":0,"conversion_rate":{"float":0,"string":"0%"},"conversions_count_including_children":0,"opens_count_including_children":0,"conversion_rate_including_children":{"float":0,"string":"0%"},"settings":{"double_optin":true,"groot_id":2684721,"form_type":"popup","triggers":["timeout"],"timeout_seconds":5,"scroll_percentage":50,"frequency":1,"frequency_unit":"months","visibility":"always","url_list":[],"url_list_strict":null,"hide_on":[],"schedule":"no"},"last_registration_at":null,"active":false,"is_broken":false,"warning_messages":[],"has_content":true,"can":{"update":true},"used_in_automations":false,"warnings":[],"double_optin":true,"screenshot_url":"https:\/\/storage.googleapis.com\/mailerlite-screenshots-prod\/screenshot\/forms\/75017795259074408\/1284x1284.png","has_missing_groups":false,"groups":[{"id":"75011449370445335","name":"My
        Group","active_count":0,"sent_count":1,"opens_count":1,"open_rate":{"float":1,"string":"100%"},"clicks_count":0,"click_rate":{"float":0,"string":"0%"},"unsubscribed_count":0,"unconfirmed_count":0,"bounced_count":0,"junk_count":0,"created_at":"2022-12-20
        11:41:32"}],"has_split_tests":false,"split_test_finished":false,"split_test_enabled":false,"split_percentage":0,"is_split_test_winner":false,"children":[],"parent_id":null,"original_name":null,"analytics_reset_at":null}}'
  recorded_at: Tue, 20 Dec 2022 13:25:27 GMT
recorded_with: VCR 6.1.0
