---
http_interactions:
- request:
    method: post
    uri: https://connect.mailerlite.com/api/fields
    body:
      encoding: UTF-8
      string: '{"name":"test_field_name","type":"text"}'
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Locale:
      - en
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '119'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"91115","name":"test_field_name","key":"test_field_name","type":"text","is_default":false,"used_in_automations":false}}'
  recorded_at: Wed, 21 Dec 2022 22:06:23 GMT
recorded_with: VCR 6.1.0
