---
http_interactions:
- request:
    method: post
    uri: https://connect.mailerlite.com/api/batch
    body:
      encoding: UTF-8
      string: '{"requests":[{"method":"GET","path":"api/subscribers/list"},{"method":"GET","path":"api/campaigns/list"}]}'
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Locale:
      - en
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '118'
    body:
      encoding: UTF-8
      string: '{"total":2,"successful":0,"failed":2,"responses":[{"code":404,"body":{"message":"No
        query results for model [App\\Models\\Subscriber\\Subscriber]."}},{"code":404,"body":{"message":"The
        route api\/campaigns\/list could not be found."}}]}'
  recorded_at: Fri, 23 Dec 2022 20:38:06 GMT
recorded_with: VCR 6.1.0
