---
http_interactions:
- request:
    method: get
    uri: https://connect.mailerlite.com/api/subscribers/second@email.com
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Locale:
      - en
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '119'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"75009808379414225","email":"second@email.com","status":"active","source":"import","sent":0,"opens_count":0,"clicks_count":0,"open_rate":0,"click_rate":0,"ip_address":null,"subscribed_at":"2022-12-20
        11:15:27","unsubscribed_at":null,"created_at":"2022-12-20 11:15:27","updated_at":"2022-12-21
        18:32:20","fields":{"name":null,"last_name":null,"company":null,"country":null,"city":"Lajpcig","phone":null,"state":null,"z_i_p":null},"groups":[{"id":"75011449370445335","name":"My
        Group","active_count":4,"sent_count":3,"opens_count":3,"open_rate":{"float":1,"string":"100%"},"clicks_count":0,"click_rate":{"float":0,"string":"0%"},"unsubscribed_count":0,"unconfirmed_count":2,"bounced_count":0,"junk_count":0,"created_at":"2022-12-20
        11:41:32"},{"id":"75138838590129612","name":"SMmwGofyQP","active_count":1,"sent_count":1,"opens_count":1,"open_rate":{"float":1,"string":"100%"},"clicks_count":0,"click_rate":{"float":0,"string":"0%"},"unsubscribed_count":0,"unconfirmed_count":0,"bounced_count":0,"junk_count":0,"created_at":"2022-12-21
        21:26:20"}],"opted_in_at":null,"optin_ip":null}}'
  recorded_at: Fri, 23 Dec 2022 21:05:08 GMT
recorded_with: VCR 6.1.0
