---
http_interactions:
- request:
    method: get
    uri: https://connect.mailerlite.com/api/campaigns?filter%5Bstatus%5D=sent&filter%5Btype%5D=regular
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Locale:
      - en
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '118'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"75037917434611569","account_id":"252151","name":"Test
        Campaign","type":"regular","status":"sent","missing_data":[],"settings":{"track_opens":"1","use_google_analytics":"0","ecommerce_tracking":"0"},"filter":[],"filter_for_humans":[],"delivery_schedule":"instant","language_id":"1","created_at":"2022-12-20
        18:42:14","updated_at":"2022-12-20 18:44:03","scheduled_for":"2022-12-20 18:43:43","queued_at":"2022-12-20
        18:44:02","started_at":"2022-12-20 18:44:03","finished_at":"2022-12-20 18:44:03","stopped_at":null,"default_email_id":"75037917465020274","emails":[{"id":"75037917465020274","account_id":"252151","emailable_id":"75037917434611569","emailable_type":"campaigns","type":"builder_html","from":"testuser@mailerlite.com","from_name":"Test
        Man","name":null,"subject":"This is a test campaign","plain_text":"Sveiki,\n\nJ\u016bs
        gavote {$account} naujienlai\u0161k\u012f. Ta\u010diau J\u016bs\u0173 el.
        pa\u0161to programa programa nepalaiko HTML formato.\n\nNaujienlai\u0161k\u012f
        galite rasti \u010dia:\n\n{$url}\n\nPagarbiai,\n{$account}\n\n\n\nJeigu ateityje
        nebenorite gauti {$account} naujien\u0173, spauskite \u010dia:\n{$unsubscribe}\n","screenshot_url":"https:\/\/storage.googleapis.com\/mailerlite-screenshots-prod\/screenshot\/emails\/75037917465020274\/1284x736.png","preview_url":"https:\/\/preview.mailerlite.io\/preview\/252151\/emails\/75037917465020274","created_at":"2022-12-20
        18:42:14","updated_at":"2022-12-21 07:46:52","is_designed":true,"language_id":1,"is_winner":false,"stats":{"sent":2,"opens_count":3,"unique_opens_count":2,"open_rate":{"float":1,"string":"100%"},"clicks_count":0,"unique_clicks_count":0,"click_rate":{"float":0,"string":"0%"},"unsubscribes_count":0,"unsubscribe_rate":{"float":0,"string":"0%"},"spam_count":0,"spam_rate":{"float":0,"string":"0%"},"hard_bounces_count":0,"hard_bounce_rate":{"float":0,"string":"0%"},"soft_bounces_count":0,"soft_bounce_rate":{"float":0,"string":"0%"},"forwards_count":0},"send_after":null,"track_opens":true,"uses_quiz":false}],"used_in_automations":false,"type_for_humans":"Regular","stats":{"sent":2,"opens_count":2,"unique_opens_count":2,"open_rate":{"float":1,"string":"100%"},"clicks_count":0,"unique_clicks_count":0,"click_rate":{"float":0,"string":"0%"},"unsubscribes_count":0,"unsubscribe_rate":{"float":0,"string":"0%"},"spam_count":0,"spam_rate":{"float":0,"string":"0%"},"hard_bounces_count":0,"hard_bounce_rate":{"float":0,"string":"0%"},"soft_bounces_count":0,"soft_bounce_rate":{"float":0,"string":"0%"},"forwards_count":0,"click_to_open_rate":{"float":0,"string":"0%"}},"is_stopped":false,"has_winner":null,"winner_version_for_human":null,"winner_sending_time_for_humans":null,"winner_selected_manually_at":null,"can":{"update":true,"delete":true,"send":true,"copy":true,"resend":true},"uses_ecommerce":false,"uses_survey":false,"can_be_scheduled":false,"warnings":[],"initial_created_at":null,"is_currently_sending_out":false}],"links":{"first":"https:\/\/connect.mailerlite.com\/api\/campaigns?page=1","last":"https:\/\/connect.mailerlite.com\/api\/campaigns?page=1","prev":null,"next":null},"meta":{"current_page":1,"from":1,"last_page":1,"links":[{"url":null,"label":"&laquo;
        Previous","active":false},{"url":"https:\/\/connect.mailerlite.com\/api\/campaigns?page=1","label":"1","active":true},{"url":null,"label":"Next
        &raquo;","active":false}],"path":"https:\/\/connect.mailerlite.com\/api\/campaigns","per_page":25,"to":1,"total":1,"aggregations":{"total":2,"draft":1,"ready":0,"sent":1}}}'
  recorded_at: Fri, 23 Dec 2022 12:01:18 GMT
recorded_with: VCR 6.1.0
