---
http_interactions:
- request:
    method: get
    uri: https://connect.mailerlite.com/api/campaigns
    body:
      encoding: UTF-8
      string: '{"filter[status]":"active"}'
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Locale:
      - en
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '119'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"74917804992628332","account_id":"252151","name":"test_campaign1","type":"regular","status":"ready","missing_data":[],"settings":[],"filter":[],"filter_for_humans":[],"delivery_schedule":"instant","language_id":"4","created_at":"2022-12-19
        10:53:06","updated_at":"2022-12-19 11:00:02","scheduled_for":"2022-12-19 10:59:40","queued_at":"2022-12-19
        11:00:02","started_at":null,"finished_at":null,"stopped_at":null,"default_email_id":"74917805026182765","emails":[{"id":"74917805026182765","account_id":"252151","emailable_id":"74917804992628332","emailable_type":"campaigns","type":"builder_rich_text","from":"sdk@mailerlite.com","from_name":"user","name":null,"subject":"testsubject1","plain_text":"Hello,\n\nYou
        have received a newsletter from {$account}.\n\nHowever, your email software
        can''t display HTML emails. You can view the newsletter by clicking here:\n\n{$url}\n\n\n\nYou''re
        receiving this newsletter because you have shown interest in {$account}.\nNot
        interested anymore? Click here to unsubscribe:\n{$unsubscribe}\n","screenshot_url":"https:\/\/storage.googleapis.com\/mailerlite-screenshots-prod\/screenshot\/emails\/74917805026182765\/1284x736.png","preview_url":"https:\/\/preview.mailerlite.io\/preview\/252151\/emails\/74917805026182765","created_at":"2022-12-19
        10:53:06","updated_at":"2022-12-19 10:58:28","is_designed":true,"language_id":4,"language":{"id":"4","shortcode":"en","iso639":"en-US","name":"English","direction":"ltr"},"is_winner":false,"stats":{"sent":0,"opens_count":0,"unique_opens_count":0,"open_rate":{"float":0,"string":"0%"},"clicks_count":0,"unique_clicks_count":0,"click_rate":{"float":0,"string":"0%"},"unsubscribes_count":0,"unsubscribe_rate":{"float":0,"string":"0%"},"spam_count":0,"spam_rate":{"float":0,"string":"0%"},"hard_bounces_count":0,"hard_bounce_rate":{"float":0,"string":"0%"},"soft_bounces_count":0,"soft_bounce_rate":{"float":0,"string":"0%"},"forwards_count":0},"send_after":null,"track_opens":true,"uses_quiz":false}],"used_in_automations":false,"type_for_humans":"Regular","is_stopped":false,"has_winner":null,"winner_version_for_human":null,"winner_sending_time_for_humans":null,"winner_selected_manually_at":null,"can":{"update":true,"delete":true,"send":true,"copy":true,"resend":false},"uses_ecommerce":false,"uses_survey":false,"can_be_scheduled":false,"warnings":[],"initial_created_at":null,"is_currently_sending_out":false}],"links":{"first":"https:\/\/connect.mailerlite.com\/api\/campaigns?page=1","last":"https:\/\/connect.mailerlite.com\/api\/campaigns?page=1","prev":null,"next":null},"meta":{"current_page":1,"from":1,"last_page":1,"links":[{"url":null,"label":"&laquo;
        Previous","active":false},{"url":"https:\/\/connect.mailerlite.com\/api\/campaigns?page=1","label":"1","active":true},{"url":null,"label":"Next
        &raquo;","active":false}],"path":"https:\/\/connect.mailerlite.com\/api\/campaigns","per_page":25,"to":1,"total":1,"aggregations":{"total":2,"draft":1,"ready":1,"sent":0}}}'
  recorded_at: Mon, 19 Dec 2022 11:01:03 GMT
recorded_with: VCR 6.1.0
