---
http_interactions:
- request:
    method: get
    uri: https://connect.mailerlite.com/api/campaigns/languages
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Locale:
      - en
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '119'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"23","shortcode":"ar","iso639":"ar","name":"(arabic)\u0627\u0644\u0639\u0631\u0628\u064a\u0629","direction":"rtl"},{"id":"34","shortcode":"ca","iso639":"ca","name":"Catal\u00e0","direction":"ltr"},{"id":"21","shortcode":"cz","iso639":"cs-CZ","name":"\u010cesk\u00fd","direction":"ltr"},{"id":"35","shortcode":"ch","iso639":"ch","name":"Chinese","direction":"ltr"},{"id":"16","shortcode":"dk","iso639":"da-DK","name":"Dansk","direction":"ltr"},{"id":"5","shortcode":"de","iso639":"de-DE","name":"Deutsch","direction":"ltr"},{"id":"15","shortcode":"ee","iso639":"et-EE","name":"Eesti","direction":"ltr"},{"id":[...]
