---
http_interactions:
- request:
    method: post
    uri: https://connect.mailerlite.com/api/campaigns/74917804992628332/schedule
    body:
      encoding: UTF-8
      string: '{"delivery":"instant"}'
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Locale:
      - en
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '118'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"74917804992628332","account_id":"252151","name":"test_campaign1","type":"regular","status":"ready","missing_data":[],"settings":[],"filter":[],"filter_for_humans":[],"delivery_schedule":"instant","language_id":"4","created_at":"2022-12-19
        10:53:06","updated_at":"2022-12-19 10:58:40","scheduled_for":"2022-12-19 10:59:40","queued_at":null,"started_at":null,"finished_at":null,"stopped_at":null,"default_email_id":"74917805026182765","emails":[{"id":"74917805026182765","account_id":"252151","emailable_id":"74917804992628332","emailable_type":"campaigns","type":"builder_rich_text","from":"sdk@mailerlite.com","from_name":"user","name":null,"subject":"testsubject1","content":"<!DOCTYPE
        html PUBLIC \"-\/\/W3C\/\/DTD HTML 3.2\/\/EN\">\n<html>\n  <head>\n    <!--{$head_top}-->\n    <!--[if
        gte mso 9]>\n\t\t<xml>\n\t\t\t<o:OfficeDocumentsettings>\n\t\t\t<o:AllowPNG\/>\n\t\t\t<o:PixelsPerInch>96<\/o:PixelsPerInch>\n\t\t\t<\/o:OfficeDocumentsettings>\n\t\t<\/xml>\n\t<![endif]-->\n    <meta
        http-equiv=\"Content-Type\" content=\"text\/html; charset=utf-8\">\n    <meta
        name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <meta
        http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"format-detection\"
        content=\"address=no\">\n    <meta name=\"format-detection\" content=\"telephone=no\">\n    <meta
        name=\"format-detection\" content=\"email=no\">\n    <meta name=\"x-apple-disable-message-reformatting\"><!--[if
        !mso]><!-->\n\n    <style type=\"text\/css\">\n    @import url(\"https:\/\/assets.mlcdn.com\/fonts.css?version=1670578\");\n    <\/style><!--<![endif]-->\n\n    <style
        type=\"text\/css\">\n    .ReadMsgBody { width: 100%; }\n    .ExternalClass{
        width: 100%; }\n    .ExternalClass * { line-height: 100%; }\n    .ExternalClass,
        .ExternalClass p, .ExternalClass td, .ExternalClass div, .ExternalClass span,
        .ExternalClass font { line-height:100%; }\n    body { margin: 0; padding:
        0; }\n    body, table, td, p, a, li { -webkit-text-size-adjust: 100%; -ms-text-size-adjust:
        100%; }\n    table td { border-collapse: collapse; }\n    table { border-spacing:
        0; border-collapse: collapse; }\n    p, a, li, td, blockquote { mso-line-height-rule:
        exactly; }\n    p, a, li, td, body, table, blockquote { -ms-text-size-adjust:
        100%; -webkit-text-size-adjust: 100%; }\n    img, a img { border: 0; outline:
        none; text-decoration: none; }\n    img { -ms-interpolation-mode: bicubic;
        }\n    * img[tabindex=\"0\"] + div { display: none !important; }\n    a[href^=tel],a[href^=sms],a[href^=mailto],
        a[href^=date] { color: inherit; cursor: pointer; text-decoration: none; }\n    a[x-apple-data-detectors]{
        color: inherit!important; text-decoration: none!important; font-size: inherit!important;
        font-family: inherit!important; font-weight: inherit!important; line-height:
        inherit!important; }\n    #MessageViewBody a { color: inherit; text-decoration:
        none; font-size: inherit; font-family: inherit; font-weight: inherit; line-height:
        inherit; }\n    #MessageViewBody { width: 100% !important; }\n    #MessageWebViewDiv
        { width: 100% !important; }\n\n    .mlMainContent ol ol {\n    list-style-type:
        lower-alpha;\n    }\n    .mlMainContent ol ol ol {\n    list-style-[...]
