---
http_interactions:
- request:
    method: put
    uri: https://connect.mailerlite.com/api/campaigns/74907223599351301
    body:
      encoding: UTF-8
      string: '{"name":"test_campaign1","emails":[{"subject":"testsubject1","from":"ahsan@mailerlite.com","from_name":"user"}]}'
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/json
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json
      X-Locale:
      - en
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '119'
    body:
      encoding: UTF-8
      string: |-
        {
            "message": "Server Error"
        }
  recorded_at: Mon, 19 Dec 2022 08:14:09 GMT
recorded_with: VCR 6.1.0
