---
http_interactions:
- request:
    method: post
    uri: https://connect.mailerlite.com/api/webhooks
    body:
      encoding: UTF-8
      string: '{"events":["subscriber.created"],"url":"http://foobar.hook","name":"test_webhook"}'
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Locale:
      - en
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '117'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"75321640600209302","name":"test_webhook","url":"http:\/\/foobar.hook","events":["subscriber.created"],"enabled":true,"secret":"HigkdhMVbp","created_at":"2022-12-23
        21:51:54","updated_at":"2022-12-23 21:51:54"}}'
  recorded_at: Fri, 23 Dec 2022 21:51:53 GMT
recorded_with: VCR 6.1.0
