---
http_interactions:
- request:
    method: post
    uri: https://connect.mailerlite.com/api/webhooks
    body:
      encoding: UTF-8
      string: '{"events":["subscriber.created"],"url":"http://foobar.hook"}'
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Locale:
      - en
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '119'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"75233700096247795","name":"","url":"http:\/\/foobar.hook","events":["subscriber.created"],"enabled":true,"secret":"Hym6hUN1bO","created_at":"2022-12-22
        22:34:07","updated_at":"2022-12-22 22:34:07"}}'
  recorded_at: Thu, 22 Dec 2022 22:34:06 GMT
recorded_with: VCR 6.1.0
