---
http_interactions:
- request:
    method: get
    uri: https://connect.mailerlite.com/api/webhooks/75321551702984317
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Locale:
      - en
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '119'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"75321551702984317","name":"test_webhook","url":"http:\/\/foobar.hook","events":["subscriber.created"],"enabled":true,"secret":"pv04URxAE4","created_at":"2022-12-23
        21:50:29","updated_at":"2022-12-23 21:50:29"}}'
  recorded_at: Fri, 23 Dec 2022 21:51:21 GMT
recorded_with: VCR 6.1.0
