---
http_interactions:
- request:
    method: put
    uri: https://connect.mailerlite.com/api/webhooks/75233700096247795
    body:
      encoding: UTF-8
      string: '{"name":"test_webhook2"}'
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Locale:
      - en
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '117'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"75233700096247795","name":"test_webhook2","url":"http:\/\/foobar.hook","events":["subscriber.created"],"enabled":true,"secret":"Hym6hUN1bO","created_at":"2022-12-22
        22:34:07","updated_at":"2022-12-22 22:35:04"}}'
  recorded_at: Thu, 22 Dec 2022 22:35:03 GMT
recorded_with: VCR 6.1.0
