---
http_interactions:
- request:
    method: get
    uri: https://connect.mailerlite.com/api/automations/75040845299975641
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Locale:
      - en
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '119'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"75040845299975641","name":"Test Automation","enabled":true,"trigger_data":{"track_ecommerce":false,"repeatable":false,"valid":true},"steps":[{"id":"75040874340287587","type":"action","parent_id":null,"complete":true,"broken":false,"created_at":"2022-12-20
        19:29:14","updated_at":"2022-12-20 19:29:31","action_type":"update_custom_field","field_id":"5","field":{"id":"5","name":"City","key":"city","type":"text"},"date_operation":null,"value":"Lajpcig","description":"Update
        custom field to \"Lajpcig\""}],"triggers":[{"id":"75040865662273074","type":"subscriber_joins_group","group_id":"75011449370445335","group":{"id":"75011449370445335","name":"My
        Group","url":"https:\/\/dashboard.mailerlite.com\/subscribers?rules=W1t7Im9wZXJhdG9yIjoiaW5fYW55IiwiY29uZGl0aW9uIjoiZ3JvdXBzIiwiYXJncyI6WyJncm91cHMiLFsiNzUwMTE0NDkzNzA0NDUzMzUiXV19XV0%3D"},"exclude_group_ids":[],"excluded_groups":[],"broken":false}],"complete":true,"broken":false,"warnings":[],"stats":{"completed_subscribers_count":0,"subscribers_in_queue_count":0,"bounce_rate":{"float":0,"string":"0%"},"click_to_open_rate":{"float":0,"string":"0%"},"sent":0,"opens_count":0,"unique_opens_count":null,"open_rate":{"float":0,"string":"0%"},"clicks_count":0,"unique_clicks_count":null,"click_rate":{"float":0,"string":"0%"},"unsubscribes_count":0,"unsubscribe_rate":{"float":0,"string":"0%"},"spam_count":0,"spam_rate":{"float":0,"string":"0%"},"hard_bounces_count":0,"hard_bounce_rate":{"float":0,"string":"0%"},"soft_bounces_count":0,"soft_bounce_rate":{"float":0,"string":"0%"}},"created_at":"2022-12-20
        19:28:46","has_banned_content":false,"qualified_subscribers_count":1}}'
  recorded_at: Thu, 22 Dec 2022 21:06:26 GMT
recorded_with: VCR 6.1.0
