---
http_interactions:
- request:
    method: get
    uri: https://connect.mailerlite.com/api/automations/75040845299975641/activity?filter%5Bstatus%5D=completed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Locale:
      - en
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '119'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"75230485820736830","status":"Completed","date":"2022-12-22
        21:43:02","reason":null,"reason_description":"","subscriber":{"id":"73931277474989872","email":"sdk@mailerlite.com"},"stepRuns":[{"id":"75230485910914375","step_id":"75040874340287587","description":"Update
        custom field to \"Lajpcig\"","scheduled_for":null}],"currentStep":{"id":"75040874340287587","type":"action","parent_id":null,"complete":true,"broken":false,"created_at":"2022-12-20
        19:29:14","updated_at":"2022-12-20 19:29:31","action_type":"update_custom_field","field_id":"5","field":{"id":"5","name":"City","key":"city","type":"text"},"date_operation":null,"value":"Lajpcig","description":"Update
        custom field to \"Lajpcig\""}},{"id":"75230486001091919","status":"Completed","date":"2022-12-22
        21:43:02","reason":null,"reason_description":"","subscriber":{"id":"75009808377317072","email":"first@email.com"},"stepRuns":[{"id":"75230486081832277","step_id":"75040874340287587","description":"Update
        custom field to \"Lajpcig\"","scheduled_for":null}],"currentStep":{"id":"75040874340287587","type":"action","parent_id":null,"complete":true,"b[...]
