---
http_interactions:
- request:
    method: get
    uri: https://connect.mailerlite.com/api/segments
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Locale:
      - en
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '117'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"75140256628737109","name":"test_segment","total":2,"open_rate":{"float":0,"string":"0%"},"click_rate":{"float":0,"string":"0%"},"created_at":"2022-12-21
        21:48:52"}],"links":{"first":"https:\/\/connect.mailerlite.com\/api\/segments?page=1","last":"https:\/\/connect.mailerlite.com\/api\/segments?page=1","prev":null,"next":null},"meta":{"current_page":1,"from":1,"last_page":1,"links":[{"url":null,"label":"&laquo;
        Previous","active":false},{"url":"https:\/\/connect.mailerlite.com\/api\/segments?page=1","label":"1","active":true},{"url":null,"label":"Next
        &raquo;","active":false}],"path":"https:\/\/connect.mailerlite.com\/api\/segments","per_page":250,"to":1,"total":1}}'
  recorded_at: Wed, 21 Dec 2022 21:52:34 GMT
recorded_with: VCR 6.1.0
