---
http_interactions:
- request:
    method: put
    uri: https://connect.mailerlite.com/api/segments/75140256628737109
    body:
      encoding: UTF-8
      string: '{"name":"test_segment2"}'
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Locale:
      - en
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '116'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"75140256628737109","name":"test_segment2","total":2,"open_rate":{"float":0,"string":"0%"},"click_rate":{"float":0,"string":"0%"},"created_at":"2022-12-21
        21:48:52"}}'
  recorded_at: Wed, 21 Dec 2022 21:53:06 GMT
recorded_with: VCR 6.1.0
