name: Ruby

on: [push,pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 3.0

    - name: Install Bundler
      run: gem install bundler -v 2.5.23

    - name: Install dependencies
      run: bundle _2.5.23_ install

    - name: Run tests
      run: export MAILERLITE_API_TOKEN=dummy_token && bundle exec rspec spec/*rspec.rb
